*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

#to-do-list {
    max-width: 320px;
    background-color: #ffffff;
    margin: 60px auto 0;
}

#to-do-list .add-to-do {
    display: flex;
}

#to-do-list .add-to-do #input {
    width: 270px;
    height: 50px;
    padding: 0 0 0 10px;
    background-color: #2f3e51;
    outline: none;
    border: none;
    font-size: 20px;
    color: #e2e8f6;
}

#to-do-list .add-to-do #input::-webkit-input-placeholder {
   color: #e2e8f6;
}

#to-do-list .add-to-do #input::-moz-placeholder {
    color: #e2e8f6;
}

#to-do-list .add-to-do #add-button {
    background-color: #13bdb2;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.add-button-icon {
    width: 25px;
    height: 25px;
    margin: 50% 0 0 0;
    transform: translateY(-50%);
}

.to-do-item {
    border-top: 1px solid #f1f1f1;
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.to-do-item .to-do-item-text {
    width: 235px;
    margin: 0 0 0 -5px;
    word-break: break-all;
    font-size: 22px;
    color: #000000;
}

.to-do-item .to-do-item-checkbox {
    margin: 0 0 0 10px;
}

.to-do-item .to-do-item-checkbox:checked ~ .to-do-item-text {
    color: #dadada;
    text-decoration: line-through;
}

.to-do-item .trash-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.to-do-item .trash {
    display: flex;
    justify-content: flex-end;
    width: 30px;
    padding: 0 10px 0 0;
}